
@import 'normalize';
@import 'base';
@import 'mixins';

@import 'layout';


/**********************************************************
Project styles 
**********************************************************/

$blue-warby: #3AA3DE;
$white: #fff;
$text-black: #333;

$utopia: 'Utopia Std', georgia, serif;
$utopia-bold: 'Utopia Std Semibold', georgia, serif;
$proxima-nova: 'Proxima Nova Rg', helvetica, sans-serif;

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, legend {
	font-family: $utopia;
}

body.theme-blue {
	color: $white;
	background-color: $blue-warby;
}

body.theme-white {
	color: $text-black;
	background-color: $white;
}

.content {
	width: 94%;
	max-width: 420px;
	margin: 0 auto;
}

@include MQ(L) {
	body.theme-white {
		
	}
}

header {
	background-color: $blue-warby;
	color: $white;
	height: 100vh;
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
	}
	.pinata {
		margin-bottom: 3em;

	}
	.wp-logo {
		height: 16px;
		width: auto;
	}
	h1 {
		font-size: 42px;
		margin-top: 0.3em;
	}

}

.center-center {
	position: absolute;
	@include center;
}

.content-header {
	width: 96%;
}

h1, h2, h3, h4, h5, h6, p, li, a {
	transition: all 1s;
}


@import 'google-places';
@import 'text-input-effects';
@import 'checkbox';



.credit-card-form {
	margin: 10em auto;
}


.input {
	margin: 1.1em 0;
	border: 1px solid #ccc;
	width: 100%;
}

a {
	text-decoration: none;
	color: $blue-warby;
}

.input__field {
	color: #333;
}

.input__label--akira {
	padding-left: 10px;
	width: 100%;
	color: $blue-warby;
	cursor: text;
	text-align: left;
}

.input__field--akira {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding: 0 1em;
	width: 100%;
	height: 100%;
	text-align: center;
}

.input__field--akira {
	text-align: left;
}

.input__label--akira::before {
	background: #fff;
}

.input__label--akira {
	background: none;
}


/**********************************************************
Checkbox styles
**********************************************************/

.ac-custom {
	padding: 0;
	
}

.ac-custom label {
	color: #666;
	font-size: 1em;
	padding: 0 0 0 36px;
}

.ac-custom input[type="checkbox"]:checked + label, .ac-custom input[type="radio"]:checked + label {
	color: #333;
}

.ac-custom label::before {
	border: 1px solid #ccc;
}

.ac-custom svg path { 
	stroke: $blue-warby;

}

.ac-custom svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -19px;
  left: 3px;
  pointer-events: none;
}


.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before {
  width: 26px;
  height: 26px;
  top: 50%;
  left: 0;
  margin-top: -14px;
  position: absolute;
  cursor: pointer;
}

.ac-custom li {
	padding: 0.1em 0 1em 0;
}

.content.credit-card-form {
	max-width: 430px;
}

.input.promo-code {
	max-width: 220px;
}

.input__label {
	font-size: 16px;
}

.input__label-content {
	padding: 0.9em 0;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira,
.input--filled .input__label-content--akira {
	-webkit-transform: translate3d(0, -1.5em, 0);
	transform: translate3d(0, -1.5em, 0);
	background-color: #fff;
	// font-size: 12px;
	// transition: all 0.3s;
}


.input__field--akira:focus + .input__label--akira .input__label-content--akira.field-name,
.input--filled .input__label-content--akira.field-name {
	width: 190px;
}
.input__field--akira:focus + .input__label--akira .input__label-content--akira.field-shipping,
.input--filled .input__label-content--akira.field-shipping {
	width: 170px;
}
.input__field--akira:focus + .input__label--akira .input__label-content--akira.field-email,
.input--filled .input__label-content--akira.field-email {
	width: 150px;
}
.input__field--akira:focus + .input__label--akira .input__label-content--akira.field-phone,
.input--filled .input__label-content--akira.field-phone {
	width: 230px;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira.field-promo,
.input--filled .input__label-content--akira.field-promo {
	width: 176px;
}

legend {
	padding: 0 5px;
	color: $blue-warby;
	font-size: 16px;
	font-weight: bold;
}


.js .credit-card-group {
	max-width: 400px;
}


@import 'paymentInfo';

a {
	font-weight: bold;
}

/**********************************************************
Button css
**********************************************************/

$white: #FFF;
$black: #000;
$button-width: 220px;

.button {
    position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translateX(-50%) translateY(-50%);
    padding: 4px 0;
    width: $button-width;
    overflow: hidden;
    user-select: none;
    background-color: $blue-warby;
    margin: 1.5em 0;

    &:hover {
        cursor: pointer;
    }

    p {
        font-size: 16px;
        font-family: $proxima-nova;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin: 14px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .feedback {
        position: absolute;
        width: $button-width * 2;
        height: $button-width * 2;
        background-color: rgba($white, 0.15);
        left: 0;
        top: 0;
        border-radius: 50%;
        margin-left: - $button-width;
        margin-top: - $button-width;
        transform: scaleX(0) scaleY(0);
    }
}


