
@import 'normalize';
@import 'base';

@import 'layout';

@import 'prefixer';
@import 'transform';

// 


/**********************************************************
Warby Styles
**********************************************************/

$blue-warby: #3AA3DE;
$white: #fff;
$text-black: #333;

$utopia: 'Utopia Std', georgia, serif;
$utopia-bold: 'Utopia Std Semibold', georgia, serif;
$proxima-nova: 'Proxima Nova Rg', helvetica, sans-serif;

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $utopia;
}

body.theme-blue {
	color: $white;
	background-color: $blue-warby;
}

body.theme-white {
	color: $text-black;
	background-color: $white;
}

.content {
	width: 96%;
	max-width: 600px;
	margin: 0 auto;
}

@include MQ(L) {
	body.theme-white {
		background-color: #fff;
	}
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}



/**********************************************************
Project styles 
**********************************************************/

@import 'hero-image';

